#tweetboard {
    margin-top: 24px;
}

.brd-title {
    text-transform: uppercase;
    text-align: center;
}

#tweetboard .columns {
    border: 1px solid #ECECEC;
    padding: 12px;
    border-radius: 3px;
}

.card {
    background-color: #ECECEC;
    border-radius: 3px;
    margin-bottom: 12px;
    padding: 12px;
}

.author {
    font-weight: 700;
}

.time {
    font-size: 12px;
    float: right;
}

.content {
    margin-top: 6px;
    display: block;
    text-decoration: none;
}

#settings-icon,
#close-icon {
    width: 48px;
    height: 48px;
    float: right;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

#close-icon {
    margin-right: 6px;
    height: 30px;
}

#close-icon:hover,
#settings-icon:hover {
    opacity: .5;
}

.error {
    color: #EC7F7F;
}

/* Modal CSS */
.modal {
    background:rgba(0, 0, 0, .7);
    display: none;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    width:100%;
}

.modal-content hr {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.modal-content {
    background-color: #FFFFFF;
    border-radius: 3px;
    margin-top: 2%;
    max-height: 90%;
    overflow: hidden;
    overflow-y: scroll;
}

.settings-header {
    margin-top: 12px;
    background-color: #FFFFFF;
}

.settings-title {
    margin-bottom: 0;
    margin-left: 12px;
}

.modal-body {
    padding: 12px;
}

.input-col-title {
    margin-bottom: 3px;
}

.input-label {
    margin-top: 18px;
}

.color-title {
    margin-bottom: 0;
}

.color-label {
    margin-left: 12px;
    text-transform: uppercase;
}

.button-row {
    float: right;
}

#reset-styles {
    margin-right: 12px;
}

#change-value {
    background-color: #1eaedb;
    border-color:  #1eaedb;
}

@media all and (max-width: 707px) {
    .button-row {
        float: left;
    }
}
